html {
    height: 100%;
}

body {
    background-image: linear-gradient(#21D4FD, #B721FF);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid white 1px;
}
main {
    min-height: 300px;
    display: flex;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card1 {
    min-height: 250px;
    width: 30%;
    background-image: url("images/image-background-card1.jpg");
    background-size: cover;
    background-position: bottom;
}
.card2 {
    min-height: 250px;
    width: 30%;
    background-image: url("images/image-background-card2.jpg");
    background-position: bottom;
    background-size: cover;
}
.card3 {
    min-height: 250px;
    width: 30%;
    background-image: url("images/image-background-card3.jpg");
    background-position: bottom;
    background-size: cover;
}
.herobox1 {
    flex: 2;
    padding-right: 100px;
}
.herobox2 {
    flex: 1;
}
h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.72);
}
h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}
p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
}
.cards i {
    font-size: 100px;
}
.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.72);
}
.button {
    background-color: white;
    color: #B721FF;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.72);
}
nav a{
    margin-left: 3px;
}
.navbutton{
    color: white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.72);
    border: solid white 1px;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.tbox {
    width: 47%;
    padding: 50px;
    border: solid white 1px;
    box-sizing: border-box;
    margin-top: 50px;
}