html {
    height: 100%;
}

body {
    background-image: linear-gradient(#21D4FD, #B721FF);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards {
    /*background-color: #20dc20;*/
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.card1 {
    background-color: #0b4949;
    min-height: 300px;
    width: 30%;
}
.card2 {
    background-color: #119292;
    min-height: 300px;
    width: 30%;
}
.card3 {
    background-color: aquamarine;
    min-height: 300px;
    width: 30%;
}
.herobox1 {
    flex: 2;
}
.herobox2 {
    flex: 1;
}
h1 {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}